/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
// Forked Cosmo 3.3.7

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base: #000;
@gray-darker: lighten(@gray-base, 13.5%);
@gray-dark: lighten(@gray-base, 20%);
@gray: lighten(@gray-base, 33.5%);
@gray-light: lighten(@gray-base, 70%);
@gray-lighter: lighten(@gray-base, 95%);
@brand-light-grey: #c9c9c9;

@brand-primary: #00a699;
@brand-success: #4ac15f;
@brand-info: lighten(#2ab7ca, 15%);
@brand-warning: #fed766;
@brand-danger: #fe4a49;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg: #f5f5f5;
//** Global text color on `<body>`.
@text-color: @gray-dark;

//** Global textual link color.
@link-color: @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color: darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;

//== Soft-Branding

@brand-primary: #00b491;
@brand-secondary: #8719cb;
@brand-tertiary: #f89c30;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Black.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-BlackIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-Bold.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-BoldIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-ExtraLight.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-ExtraLightIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-It.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-Light.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-LightIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-Semibold.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-SemiboldIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceSansPro-Regular.otf.woff2") format("woff2");
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/SourceCodePro-Medium.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-Black.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-Bold.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-LightIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-Semibold.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-BoldIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-It.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-BlackIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-MediumIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-ExtraLight.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-ExtraLightIt.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-Light.otf.woff2") format("woff2");
  src: url("../fonts/SourceCodePro-Regular.otf.woff2") format("woff2");
}

@font-family-sans-serif: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;

@font-family-serif: Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base: @font-family-sans-serif;

@font-size-base: 16px;
@font-size-large: ceil((@font-size-base * 1.25)); // ~18px
@font-size-small: ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1: floor((@font-size-base * 2.6)); // ~36px
@font-size-h2: floor((@font-size-base * 2.15)); // ~30px
@font-size-h3: ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4: ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5: @font-size-base;
@font-size-h6: ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base: 1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed: floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family: @font-family-base;
@headings-font-weight: 300;
@headings-line-height: 1.1;
@headings-color: inherit;

//== Typography overwrite

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
}

.table-condensed,
.filterable-table-container * {
  font-size: 14px !important;
}

h2 {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: @font-size-h2;
  font-weight: 600;
}

h3 {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: @font-size-h3;
  font-weight: 300;
  position: relative;
  margin-bottom: 22px;
}

.panel-default .panel-title {
  border: none;
  position: relative;
}

h3.panel-title {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: @font-size-h2;
  font-weight: 600;
  border: none !important;
  width: auto;
  margin-bottom: 42px;
  padding-left: 8px;
  padding-left: 0;
}

h4,
h4.panel-title {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: @font-size-h2;
  font-weight: 600;
  border: none !important;
  padding-left: 8px;
  position: relative;
  width: 90%;
}

.dashboard-component-header {
  position: relative;
  padding: 26px 0;

  .fave-unfave-icon .fa-star,
  .fave-unfave-icon .fa-star-o,
  .fave-unfave-icon .fa-star-o:active,
  .fave-unfave-icon .fa-star-o:hover,
  .fave-unfave-icon .fa-star:active,
  .fave-unfave-icon .fa-star:hover {
    color: @brand-primary;
  }
}

.dashboard-header {
  padding-top: 24px;
}

.chart-header .header .editable-title input[type="button"] {
  font-size: 22px;
  font-weight: 100;
}

.chart-header span.editable-title {
  font-size: 26px;
  font-weight: 600;
}

.dashboard-header .dashboard-component-header {
  font-weight: 600 !important;
}

.ace_editor {
  font: 14px "Source Code Pro", Monaco, Consolas, "Courier New", monospace !important;
  font-family: "Source Code Pro", Monaco, Consolas, "Courier New", monospace;
  font-size: 14px !important;
}

.dropdown-menu {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  min-width: 10rem;
  padding: 1.25rem 0.75rem;
  -webkit-box-shadow: none;
  box-shadow: none;

  li {
    padding-bottom: 0.35rem;
  }
}

.btn-primary,
.btn-default,
.form-control,
.select2-container .select2-choice,
.select2-container-multi .select2-choices .select2-search-field input,
.button-container button,
.button-container .menu li a,
.form-actions-container button,
.form-actions-container .menu li a,
.dropdown-menu li a,
.dashboard .chart-header .dropdown-menu li a,
.dashboard .dashboard-header .dropdown-menu li a {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px !important;
  font-weight: 300;
  letter-spacing: 0 !important;
}

.panel.panel-primary .panel-title {
  margin-bottom: 32px;
}

.label,
.label[style] {
  font-size: 16px !important;
}

.dashboard .chart-header .dropdown-menu li a span,
.dashboard .dashboard-header .dropdown-menu li a span {
  letter-spacing: 0 !important;
}

//==Nav Bar

.nav.navbar-nav .caret:before {
  content: "\f0d7";
  font-size: 14px;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000;

  .fa {
    color: @brand-light-grey;
  }
}

.navbar b.caret {
  vertical-align: -1px;
}

.navbar .f16 .flag {
  vertical-align: -3px;
}

.dashboard .dashboard-header #save-dash-split-button {
  height: 36px !important;
  width: 34px !important;
}

.dashboard .dashboard-header #save-dash-split-button .caret {
  padding-top: 4px;
}

.navbar-header {
  padding: 6px 9px;
}

.navbar-collapse.collapse {
  padding: 6px 9px;
}

.nav.navbar-nav.navbar-right .btn-primary .fa {
  color: #fff;
}

.navbar-inverse .navbar-nav > li.dropdown > a,
.navbar-inverse .navbar-nav > li > a {
  margin-bottom: -16px;
  padding-bottom: 23px;
}

.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover {
  border-bottom: 3px solid @brand-secondary;
  margin-bottom: -16px;
  padding-bottom: 23px;

  i {
    color: @brand-secondary;
  }
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  border-bottom: 3px solid @brand-primary;
  margin-bottom: -16px;
  padding-bottom: 24px;
  background: transparent;

  i {
    color: @brand-primary;
  }
}

.navbar-inverse .navbar-nav > li > a.dropdown-toggle {
  padding-bottom: 23px;
}

.navbar-inverse .navbar-nav > li.dropdown > a:focus {
  border-bottom: 3px solid @brand-primary;
  margin-bottom: -16px;
  padding-bottom: 23px;
  background: transparent;
}

.navbar-inverse .navbar-nav > li.dropdown-menu.active > a.dropdown-toggle,
.navbar-inverse .navbar-nav > li.dropdown.active > a.dropdown-toggle,
.navbar-inverse .navbar-nav > li.dropdown-menu.active > a.dropdown-toggle:hover,
.navbar-inverse .navbar-nav > li.dropdown.active > a.dropdown-toggle:hover,
.navbar-inverse .navbar-nav > li.dropdown-menu.active > a.dropdown-toggle:focus,
.navbar-inverse .navbar-nav > li.dropdown.active > a.dropdown-toggle:focus {
  border-bottom: 3px solid @brand-secondary;
  margin-bottom: -16px;
  padding-bottom: 24px;
  background: transparent;

  i {
    color: @brand-secondary;
  }
}

.nav.navbar-nav.navbar-right .btn-primary,
.nav.navbar-nav.navbar-right .btn.btn-primary {
  background-color: @brand-primary;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.75rem 4rem 0.75rem 2.25rem;
  font-weight: 600;
  font-size: 14px !important;

  i:before {
    content: "\F0D7";
    font-size: 14px;
    color: #fff;
    position: relative;
    left: 45px;
  }
}

.nav.navbar-nav.navbar-right .btn-primary:hover,
.nav.navbar-nav.navbar-right .btn.btn-primary:hover {
  background-color: darken(@brand-primary, 3%);
}

.table th a {
  display: inline-block;
  margin-right: 20px;
}

//= UI Elements

.panel-body .btn.btn-primary[type="button"] {
  background-color: @brand-primary;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.75rem 3.25rem 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  border-radius: 0.2rem;
}

.panel-body .btn.btn-primary[type="button"]:hover {
  background-color: darken(@brand-primary, 3%);
}

.query-and-save.btn-group button:first-child {
  background-color: @brand-primary;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  border-radius: 0.2rem;
  width: 135px;

  i {
    display: none;
  }
}

.query-and-save.btn-group button:first-child:hover {
  background-color: darken(@brand-primary, 3%);
}

.query-and-save.btn-group button:nth-child(2) {
  background-color: #fff;
  color: @brand-primary;
  border: none;
  text-transform: uppercase;
  padding: 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  margin-left: 12px;
  border-radius: 0.2rem !important;
  outline: 1px solid @brand-primary;
  outline-offset: -1px;

  i {
    display: none;
  }
}

.query-and-save.btn-group button:nth-child(2):hover {
  background-color: darken(#fff, 1%);
}

#explore-container .text-muted i {
  margin-left: 18px;
}

.explore-container .m-l-5.text-muted:hover {
  background-color: darken(@brand-primary, 3%);
}

.btn-group.results .btn.btn-default.btn-sm {
  background: #fff;
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
  border: 1px solid #bcbcbc;
}

.btn-group.results .btn.btn-default.btn-sm:hover,
.btn-group.results .btn.btn-default.btn-sm:focus {
  background-color: darken(#fff, 7%);
}

.dashboard-header .button-container button {
  border: none;
  background-color: #fff;
  color: @brand-tertiary;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
  margin-left: 12px;
  border-radius: 0.2rem !important;
  outline: 1px solid @brand-tertiary;
  outline-offset: -1px;
  padding: 0.35rem 2rem;
}

.dashboard-header .button-container button:hover,
.dashboard-header .button-container button:focus {
  background: darken(#fff, 3%);
  color: @brand-tertiary;
}

.dashboard-header .button-container #save-dash-split-button {
  background-color: #fff;
  color: @brand-tertiary;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
  margin-left: 12px;
  border-radius: 0.2rem !important;
  outline: 1px solid @brand-tertiary;
  outline-offset: -1px;
  border-left: 1px solid #fff;

  span.caret:before {
    padding-top: 10px !important;
    content: "\F0D7";
    font-size: 14px;
    left: -5px;
    position: relative;
    color: @brand-tertiary;
  }
}

.dashboard-header .button-container #save-dash-split-button:hover,
.dashboard-header .button-container #save-dash-split-button:focus {
  background-color: darken(#fff, 3%);
}

.modal-footer #btn_modal_save_goto_dash {
  background-color: @brand-primary;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  border-radius: 0.2rem;
}

.modal-footer #btn_modal_save_goto_dash:hover,
.modal-footer #btn_modal_save_goto_dash:focus {
  background-color: darken(@brand-primary, 3%);
}

.modal-footer #btn_modal_save {
  background-color: #fff;
  color: @brand-primary;
  border: none;
  text-transform: uppercase;
  padding: 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  margin-left: 12px;
  border-radius: 0.2rem !important;
  outline: 1px solid @brand-primary;
  outline-offset: -1px;
}

.modal-footer #btn_modal_save:hover,
.modal-footer #btn_modal_save:focus {
  background-color: darken(#fff, 3%);
}

.sql-toolbar .form-inline .btn.btn-sm.btn-primary,
.sql-toolbar .form-inline .btn.btn-sm.btn-warning {
  background-color: @brand-primary;
  color: #fff;
  text-transform: uppercase;
  padding: 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  border-radius: 0.2rem;
  border: none;
  min-width: 124px;

  i {
    display: none;
  }
}

.sql-toolbar .form-inline .btn.btn-sm.btn-warning {
  min-width: 191px;
}

.sql-toolbar .form-inline .btn.btn-sm.btn-primary:hover,
.sql-toolbar .form-inline .btn.btn-sm.btn-primary:focus,
.sql-toolbar .form-inline .btn.btn-sm.btn-primary:active {
  background-color: darken(@brand-primary, 3%);
  color: #fff;
  text-transform: uppercase;
  padding: 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  border-radius: 0.2rem;
  border: none;

  i {
    display: none;
  }
}

.sql-toolbar .form-inline .btn.btn-sm.btn-default {
  background-color: #fff;
  color: @brand-primary;
  border: none;
  text-transform: uppercase;
  padding: 0.85rem 3.25rem 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  margin-left: 4px;
  border-radius: 0.2rem !important;
  outline: 1px solid @brand-primary;
  outline-offset: -1px;

  i {
    display: none;
  }
}

.sql-toolbar .form-inline .btn.btn-sm.btn-default:hover,
.sql-toolbar .form-inline .btn.btn-sm.btn-default:focus {
  background: darken(#fff, 3%);
}

.sql-toolbar .form-inline .inlineBlock .label.label-default {
  padding: 0.85rem 3.25rem 0.85rem 3.25rem;
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
  background: #fff;
  border: 1px solid #b3b3b3;
  vertical-align: -1px;
}

.panel-heading #slice-header .inlineBlock {
  border-radius: 0;
  padding: 0.6rem 1.5rem 0.62rem 1.5rem;
  vertical-align: 0px;
  margin-right: 14px;
}

.panel-heading #slice-header .label.label-default {
  margin-right: 5px;
  cursor: pointer;
  background: #fff;
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
  border: 1px solid #bcbcbc;
  border-radius: 0;
  padding: 0.6rem 1.5rem 0.62rem 1.5rem;
}

.panel-heading #slice-header .label.label-default:hover,
.panel-heading #slice-header .label.label-default:focus,
.panel-heading #slice-header .pull-right span:nth-child(2):hover,
.panel-heading #slice-header .pull-right span:nth-child(2):focus {
  background: darken(#fff, 3%);
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
  border: 1px solid #bcbcbc;
  border-radius: 0;
  padding: 0.6rem 1.5rem 0.62rem 1.5rem;
}

.panel-heading #slice-header .btn.btn-default.btn-sm:hover,
.panel-heading #slice-header .btn.btn-default.btn-sm:focus {
  padding: 5px 10px;
}

.sql-toolbar .form-inline .inlineBlock .label.label-default:hover,
.sql-toolbar .form-inline .inlineBlock .label.label-default:focus {
  background: darken(#fff, 3%);
}

.sql-toolbar span[role="button"] button {
  padding: 0.75rem 3.25rem 0.75rem 3.25rem;
  height: 36px;
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
}

.sql-toolbar span[role="button"] button:hover,
.sql-toolbar span[role="button"] button:focus {
  background: darken(#fff, 3%);
}

.ResultSetControls .btn.btn-sm.btn-default {
  background-color: #fff;
  color: @brand-tertiary;
  border: none;
  text-transform: uppercase;
  padding: 0.85rem 3.25rem 0.75rem 3.25rem;
  font-weight: 700;
  font-size: 14px !important;
  margin-right: 10px;
  border-radius: 0.2rem !important;
  outline: 1px solid @brand-tertiary;
  outline-offset: -1px;

  i {
    display: none;
  }
}

.ResultSetControls .btn.btn-sm.btn-default:hover,
.ResultSetControls .btn.btn-sm.btn-default:focus {
  background: darken(#fff, 3%);
  color: @brand-tertiary;
}

.ResultSetControls .btn.btn-sm.btn-default:first-child {
  background-color: @brand-tertiary;
  color: #fff;
  text-transform: uppercase;
  padding: 0.85rem 3.25rem 0.75rem 3.25rem;
  font-weight: 600;
  font-size: 14px !important;
  border-radius: 0.2rem;
  border: none;
  margin-right: 10px;

  i {
    display: none;
  }
}

.ResultSetControls .btn.btn-sm.btn-default:first-child:hover,
.ResultSetControls .btn.btn-sm.btn-default:first-child:focus {
  background: darken(@brand-tertiary, 7%);
  color: #fff;
}

.panel-body .form-actions-container button.dropdown-toggle {
  background-color: @brand-primary;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.75rem 3rem;
  font-weight: 600;
  font-size: 14px !important;

  span:before {
    vertical-align: 1px;
    color: #fff;
    content: "\F0D7";
    font-size: 14px;
  }
}

.panel-body .form-actions-container button.dropdown-toggle:hover,
.panel-body .form-actions-container button.dropdown-toggle:focus {
  color: #fff;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.SqlEditor .sql-toolbar span.inlineBlock.label {
  padding: 0.75rem 3.25rem 1rem 3.25rem;
  vertical-align: -1px;
}

#uncontrolled-tab-example li.active a,
#controlSections li.active a,
.SqlEditor .SouthPane li.active a {
  padding-left: 32px;
  padding-right: 32px;
}

.ReactVirtualized__Table__Grid .ReactVirtualized__Table__rowColumn button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 16px;
  background-color: #fff;
  color: #f89c30;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px !important;
  border-radius: 0.2rem !important;
  outline: 1px solid #f89c30;
  outline-offset: -1px;

  &:hover,
  &:focus {
    color: #f89c30;
    background: darken(#fff, 3%);
  }
  i {
    color: #f89c30;
  }
}

//= Charts

.superset-legacy-chart-sunburst svg g text.step-label {
  transform: translate(0, -10px);
}

//= Alerts, Success & Error Mesages

.label-success {
  background-color: #00cdbd;
}

//= Layout Adjustments

.SqlEditor .SouthPane {
  margin-top: 20px;

  .tab-content {
    margin-top: 12px;
  }

  .ResultSetControls {
    margin-bottom: 12px;
  }
}
