/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
// Forked Cosmo 3.3.7

//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%);
@gray-dark:              lighten(@gray-base, 20%);
@gray:                   lighten(@gray-base, 33.5%);
@gray-light:             lighten(@gray-base, 70%);
@gray-lighter:           lighten(@gray-base, 95%);

@brand-primary:         #00A699;
@brand-success:         #4AC15F;
@brand-info:            lighten(#2AB7CA, 15%);
@brand-warning:         #FED766;
@brand-danger:          #FE4A49;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #f5f5f5;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;

//== Soft-Branding 
 
@brand-primary:         #00b491;
@brand-secondary:       #8719cb;
@brand-tertiary:       	#f89c30;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-face {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  src: url('../fonts/SourceSansPro-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Source Code Pro', 'Helvetica Neue', Arial, sans-serif;
  src: url('../fonts/SourceCodePro-Regular.ttf')  format('truetype');
}

@font-family-sans-serif:  'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;

@font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
@font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
@font-family-base:        @font-family-sans-serif;

@font-size-base:          16px;
@font-size-large:         ceil((@font-size-base * 1.25)); // ~18px
@font-size-small:         ceil((@font-size-base * 0.85)); // ~12px

@font-size-h1:            floor((@font-size-base * 2.6)); // ~36px
@font-size-h2:            floor((@font-size-base * 2.15)); // ~30px
@font-size-h3:            ceil((@font-size-base * 1.7)); // ~24px
@font-size-h4:            ceil((@font-size-base * 1.25)); // ~18px
@font-size-h5:            @font-size-base;
@font-size-h6:            ceil((@font-size-base * 0.85)); // ~12px

//** Unit-less `line-height` for use in components like buttons.
@line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@line-height-computed:    floor((@font-size-base * @line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
@headings-font-family:    @font-family-base;
@headings-font-weight:    300;
@headings-line-height:    1.1;
@headings-color:          inherit;


//== Typography overwrite

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
}

.table-condensed,
.filterable-table-container * {
	font-size: 14px !important;
}

h2 {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: @font-size-h2;
	font-weight: 600; 
}

h2:after {
	content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: -4px;
    left: 10px;
    border-bottom: 4px solid @brand-secondary;
}

h3 {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: @font-size-h3;
	font-weight: 300;
	position: relative;
	margin-bottom: 22px;
}

h3:after {
	content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: -8px;
    left: 1px;
    border-bottom: 4px solid @brand-tertiary;
}

.panel-default .panel-title {
	border: none;
	position: relative;
}

h3.panel-title {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: @font-size-h2;
	font-weight: 600;
	border: none !important;
    width: auto;
    margin-bottom: 42px;
    padding-left: 8px;
    padding-left: 0;
}

h3.panel-title:after {
	content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: -4px;
    left: 10px;
    border-bottom: 4px solid @brand-secondary;
}

h4,
h4.panel-title {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: @font-size-h2;
	font-weight: 600;
	border: none !important;
	padding-left: 8px;
	position: relative;
}

h4:after {
	content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: -4px;
    left: 10px;
    border-bottom: 4px solid @brand-secondary;
}

.dashboard-component-header {
	position: relative;
	padding: 26px 0;

	.fave-unfave-icon .fa-star, .fave-unfave-icon .fa-star-o, .fave-unfave-icon .fa-star-o:active, .fave-unfave-icon .fa-star-o:hover, .fave-unfave-icon .fa-star:active, .fave-unfave-icon .fa-star:hover {
	color: @brand-primary;
	}
}

.dashboard-header {
	padding-top: 24px;	
}

.dashboard-header .editable-title:after {
	content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: 9px;
    left: 1px;
    border-bottom: 4px solid @brand-secondary;
}

.chart-header .header .editable-title input[type=button] {
	font-size: 22px;
    font-weight: 100;
}

.chart-header span.editable-title {
	font-size: 26px;
    font-weight: 600;
}

.chart-header span.editable-title:after {
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: -7px;
    left: 1px;
    border-bottom: 4px solid @brand-tertiary;
}

.dashboard-header .dashboard-component-header {
	font-weight: 600 !important;
}

.ace_editor {
	font-family: 'Source Code Pro', 'Helvetica Neue', Arial, sans-serif !important;
	font-size: 14px !important;
}

.chart-header .header {
	margin-bottom: 20px;
}

.dropdown-menu {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px;
}

.btn-primary,
.btn-default,
.form-control,
.select2-container .select2-choice,
.select2-container-multi .select2-choices .select2-search-field input,
.button-container button,
.button-container .menu li a,
.form-actions-container button,
.form-actions-container .menu li a,
.dropdown-menu li a,
.dashboard .chart-header .dropdown-menu li a, .dashboard .dashboard-header .dropdown-menu li a {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: 16px !important;
	font-weight: 300;
}

.panel.panel-primary .panel-title {
	margin-bottom: 32px;
}

//== Soft-Branding 

.nav.navbar-nav .fa {
	color: @brand-tertiary;
}

.nav.navbar-nav.navbar-right .btn-primary .fa {
	color: #fff;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li.active > a {
  border-bottom: 3px solid @brand-secondary;
 }

.nav.navbar-nav.navbar-right .btn-primary,
.nav.navbar-nav.navbar-right .btn.btn-primary {
  background-color: @brand-tertiary !important;
  border-color: @brand-tertiary;
}

.nav.navbar-nav.navbar-right .btn-primary:hover,
.nav.navbar-nav.navbar-right .btn.btn-primary:hover {
  background-color: darken(@brand-tertiary, 5%);
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-top: 3px solid @brand-secondary;
}