@import "./cosmo/variables.less";

//== Typography

body {
  font-family: @font-family-sans-serif;
  font-size: @font-size-base;
}

.filterable-table-container *,
.table-condensed * {
  font-size: @font-size-small;
}

h2 {
  font-family: @font-family-sans-serif;
  font-size: @font-size-h2;
  font-weight: 600;
}

h3 {
  font-family: @font-family-sans-serif;
  font-size: @font-size-h3;
  font-weight: 300;
  position: relative;
  margin-bottom: 22px;
}

.panel-default .panel-title {
  border: none;
  position: relative;
}

h3.panel-title {
  font-family: @font-family-sans-serif;
  font-size: @font-size-h2;
  font-weight: 600;
  border: none !important;
  width: auto;
  margin-bottom: 42px;
  padding-left: 8px;
  padding-left: 0;
}

h4,
h4.panel-title {
  font-family: @font-family-sans-serif;
  font-size: @font-size-h2;
  font-weight: 600;
  border: none !important;
  padding-left: 8px;
  position: relative;
  width: 90%;
}

.dashboard-component-header {
  position: relative;
  padding: 26px 0;

  .fave-unfave-icon .fa-star,
  .fave-unfave-icon .fa-star-o,
  .fave-unfave-icon .fa-star-o:active,
  .fave-unfave-icon .fa-star-o:hover,
  .fave-unfave-icon .fa-star:active,
  .fave-unfave-icon .fa-star:hover {
    color: @brand-primary;
  }
}

.dashboard-header {
  padding-top: 24px;
}

.chart-header .header .editable-title input[type="button"] {
  font-size: @font-size-h4;
  font-weight: 100;
}

.chart-header span.editable-title {
  font-size: @font-size-h2;
  font-weight: 600;
}

.dashboard-header .dashboard-component-header {
  font-weight: 600 !important;
}

.ace_editor {
  font: 14px @font-family-code;
  font-family: @font-family-code;
  font-size: 14px !important;
}

.dropdown-menu {
  font-family: @font-family-sans-serif;
  font-size: 16px;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  min-width: 10rem;
  padding: 1.25rem 0.75rem;
  -webkit-box-shadow: none;
  box-shadow: none;

  li {
    padding-bottom: 0.35rem;
  }
}

.btn-primary,
.btn-default,
.form-control,
.select2-container .select2-choice,
.select2-container-multi .select2-choices .select2-search-field input,
.button-container button,
.button-container .menu li a,
.form-actions-container button,
.form-actions-container .menu li a,
.dropdown-menu li a,
.dashboard .chart-header .dropdown-menu li a,
.dashboard .dashboard-header .dropdown-menu li a {
  font-family: @font-family-sans-serif;
  font-size: @font-size-base;
  font-weight: 300;
  letter-spacing: 0 !important;
}

.panel.panel-primary .panel-title {
  margin-bottom: 32px;
}

.label,
.label[style] {
  font-size: @font-size-base;
}

.dashboard .chart-header .dropdown-menu li a span,
.dashboard .dashboard-header .dropdown-menu li a span {
  letter-spacing: 0 !important;
}

//==Nav Bar

.nav.navbar-nav .caret:before {
  content: "\f0d7";
  font-size: @font-size-small;
}

.navbar-inverse .navbar-nav > li > a {
  color: #000;

  .fa {
    color: @brand-light-grey;
  }
}

.navbar b.caret {
  vertical-align: -1px;
}

.navbar .f16 .flag {
  vertical-align: -3px;
}

.dashboard .dashboard-header #save-dash-split-button {
  height: 36px !important;
  width: 34px !important;
}

.dashboard .dashboard-header #save-dash-split-button .caret {
  padding-top: 4px;
}

.navbar-header {
  padding: 6px 9px;
}

.navbar-collapse.collapse {
  padding: 6px 9px;
}

.nav.navbar-nav.navbar-right .btn-primary .fa {
  color: #fff;
}

.navbar-inverse .navbar-nav > li.dropdown > a,
.navbar-inverse .navbar-nav > li > a {
  margin-bottom: -16px;
  padding-bottom: 23px;
}

.navbar-inverse .navbar-nav > li.active > a,
.navbar-inverse .navbar-nav > li.active > a:hover {
  border-bottom: 3px solid @brand-secondary;
  margin-bottom: -16px;
  padding-bottom: 23px;

  i {
    color: @brand-secondary;
  }
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  border-bottom: 3px solid @brand-primary;
  margin-bottom: -16px;
  padding-bottom: 24px;
  background: transparent;

  i {
    color: @brand-primary;
  }
}

.navbar-inverse .navbar-nav > li > a.dropdown-toggle {
  padding-bottom: 23px;
}

.navbar-inverse .navbar-nav > li.dropdown > a:focus {
  border-bottom: 3px solid @brand-primary;
  margin-bottom: -16px;
  padding-bottom: 23px;
  background: transparent;
}

.navbar-inverse .navbar-nav > li.dropdown-menu.active > a.dropdown-toggle,
.navbar-inverse .navbar-nav > li.dropdown.active > a.dropdown-toggle,
.navbar-inverse .navbar-nav > li.dropdown-menu.active > a.dropdown-toggle:hover,
.navbar-inverse .navbar-nav > li.dropdown.active > a.dropdown-toggle:hover,
.navbar-inverse .navbar-nav > li.dropdown-menu.active > a.dropdown-toggle:focus,
.navbar-inverse .navbar-nav > li.dropdown.active > a.dropdown-toggle:focus {
  border-bottom: 3px solid @brand-secondary;
  margin-bottom: -16px;
  padding-bottom: 24px;
  background: transparent;

  i {
    color: @brand-secondary;
  }
}

.table th a {
  display: inline-block;
  margin-right: 20px;
}

//= UI Elements

// Buttons ====================================================================

.btn-brand-primary {
  background-color: @brand-primary;
  color: #fff;
  border: 1px solid @brand-primary;
  text-transform: uppercase;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: @font-size-small;
}

.btn-brand-primary-secondary {
  background-color: #fff;
  color: @brand-primary;
  text-transform: uppercase;
  font-size: @font-size-small;
  font-weight: 600;
  border-radius: 0.2rem;
  border: 1px solid @brand-primary;
}

.btn-brand-primary-tertiary {
  background-color: @brand-tertiary;
  color: #fff;
  border: 1px solid @brand-tertiary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: @font-size-small;
  border-radius: 0.2rem;
}

.btn-brand-secondary-tertiary {
  background-color: #fff;
  color: @brand-tertiary;
  border: 1px solid @brand-tertiary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: @font-size-small;
  border-radius: 0.2rem;
}

.label-brand-primary {
  color: #2a7b38;
  background-color: #bce9c4;
}

.nav.navbar-nav.navbar-right .btn-primary,
.nav.navbar-nav.navbar-right .btn.btn-primary {
  .btn-brand-primary();
  padding: 0.65rem 4rem 0.65rem 2.25rem;

  i:before {
    content: "\F0D7";
    font-size: @font-size-small;
    color: #fff;
    position: relative;
    left: 45px;
  }
}

.nav.navbar-nav.navbar-right .btn-primary:hover,
.nav.navbar-nav.navbar-right .btn.btn-primary:hover {
  background-color: @brand-primary-hover-color;
}

.panel-body .btn.btn-primary[type="button"] {
  .btn-brand-primary();
  padding: 0.75rem 3.25rem 0.75rem 3.25rem;
}

.panel-body .btn.btn-primary[type="button"]:hover {
  background-color: @brand-primary-hover-color;
}

.query-and-save.btn-group button:first-child {
  .btn-brand-primary();
  padding: 0.75rem 3.25rem;
  min-width: 135px;

  i {
    display: none;
  }
}

.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
  border-top-right-radius: 0.2rem;
  border-bottom-right-radius: 0.2rem;
}

.query-and-save.btn-group button:first-child:hover {
  background-color: @brand-primary-hover-color;
}

.query-and-save.btn-group button:nth-child(2) {
  .btn-brand-primary-secondary();
  padding: 0.8rem 3.25rem;
  margin-left: 12px;

  i {
    display: none;
  }
}

.query-and-save.btn-group button:nth-child(2):hover {
  background-color: darken(#fff, 1%);
}

#explore-container .text-muted i {
  margin-left: 18px;
}

.explore-container .m-l-5.text-muted:hover {
  background-color: @brand-primary-hover-color;
}

.btn-group.results .btn.btn-default.btn-sm {
  background: #fff;
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-small;
  border: 1px solid #bcbcbc;
}

.btn-group.results .btn.btn-default.btn-sm:hover,
.btn-group.results .btn.btn-default.btn-sm:focus {
  background-color: darken(#fff, 7%);
}

.dashboard-header .button-container button {
  border: none;
  background-color: #fff;
  color: @brand-tertiary;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-small;
  margin-left: 12px;
  border-radius: 0.2rem !important;
  outline: 1px solid @brand-tertiary;
  outline-offset: -1px;
  padding: 0.35rem 2rem;
}

.dashboard-header .button-container button:hover,
.dashboard-header .button-container button:focus {
  background: darken(#fff, 3%);
  color: @brand-tertiary;
}

.dashboard-header .button-container #save-dash-split-button {
  background-color: #fff;
  color: @brand-tertiary;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-small;
  margin-left: 12px;
  border-radius: 0.2rem !important;
  outline: 1px solid @brand-tertiary;
  outline-offset: -1px;
  border-left: 1px solid #fff;

  span.caret:before {
    padding-top: 10px !important;
    content: "\F0D7";
    font-size: @font-size-small;
    left: -5px;
    position: relative;
    color: @brand-tertiary;
  }
}

.dashboard-header .button-container #save-dash-split-button:hover,
.dashboard-header .button-container #save-dash-split-button:focus {
  background-color: darken(#fff, 3%);
}

.modal-footer #btn_modal_save_goto_dash {
  .btn-brand-primary();
  padding: 0.75rem 3.25rem;
  font-size: @font-size-small;
}

.modal-footer #btn_modal_save_goto_dash:hover,
.modal-footer #btn_modal_save_goto_dash:focus {
  background-color: @brand-primary-hover-color;
}

.modal-footer #btn_modal_save {
  .btn-brand-primary-secondary();
  margin-left: 12px;
  padding: 0.75rem 3.25rem;
}

.modal-footer #btn_modal_save:hover,
.modal-footer #btn_modal_save:focus {
  background-color: darken(#fff, 3%);
}

.sql-toolbar .form-inline .btn.btn-sm.btn-primary,
.sql-toolbar .form-inline .btn.btn-sm.btn-warning {
  .btn-brand-primary();
  padding: 0.65rem 3.25rem;
  min-width: 124px;

  i {
    display: none;
  }
}

.sql-toolbar .form-inline .btn.btn-sm.btn-warning {
  min-width: 191px;
}

.sql-toolbar .form-inline .btn.btn-sm.btn-primary:hover,
.sql-toolbar .form-inline .btn.btn-sm.btn-primary:focus,
.sql-toolbar .form-inline .btn.btn-sm.btn-primary:active {
  background-color: @brand-primary-hover-color;

  i {
    display: none;
  }
}

.sql-toolbar .form-inline .SaveQuery .btn.btn-sm.btn-default {
  .btn-brand-primary-secondary();
  padding: 0.65rem 3.25rem 0.75rem;
  margin-left: 4px;

  i {
    display: none;
  }
}

.sql-toolbar .form-inline .btn.btn-sm.btn-default {
  .btn-brand-primary-secondary();
  padding: 0.65rem 3.25rem 0.65rem;
  margin-left: 4px;

  i {
    display: none;
  }
}

.sql-toolbar .form-inline .btn.btn-sm.btn-default:hover,
.sql-toolbar .form-inline .btn.btn-sm.btn-default:focus {
  background: darken(#fff, 3%);
}

.sql-toolbar .form-inline .inlineBlock .label.label-default {
  padding: 0.85rem 3.25rem 0.85rem 3.25rem;
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-small;
  background: #fff;
  border: 1px solid #b3b3b3;
  vertical-align: -1px;
}

.panel-heading #slice-header .inlineBlock {
  border-radius: 0;
  padding: 0.6rem 1.5rem 0.62rem 1.5rem;
  vertical-align: 0px;
  margin-right: 14px;
}

.panel-heading #slice-header .label.label-default[style] {
  margin-right: 5px;
  cursor: pointer;
  background: #fff;
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-small !important;
  border: 1px solid #bcbcbc;
  border-radius: 0;
  padding: 0.6rem 1.5rem;
}
.panel-heading #slice-header .label.label-success[style],
.panel-heading #slice-header .label.label-warning[style] {
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-small !important;
  padding: 0.7rem 1.5rem 0.7rem;
  .label-brand-primary();
}

.panel-heading #slice-header .label.label-success[style]:hover,
.panel-heading #slice-header .label.label-warning[style]:hover {
  border: none;
}

.panel-heading #slice-header .label.label-default:hover[style],
.panel-heading #slice-header .label.label-default:focus[style],
.panel-heading #slice-header .pull-right span:nth-child(2):hover[style],
.panel-heading #slice-header .pull-right span:nth-child(2):focus[style] {
  background: darken(#fff, 3%);
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-small !important;
  border: 1px solid #bcbcbc;
  border-radius: 0;
  padding: 0.6rem 1.5rem 0.62rem 1.5rem;
}

.panel-heading #slice-header .btn.btn-default.btn-sm:hover,
.panel-heading #slice-header .btn.btn-default.btn-sm:focus {
  padding: 5px 10px;
}

.sql-toolbar .form-inline .inlineBlock .label.label-default:hover,
.sql-toolbar .form-inline .inlineBlock .label.label-default:focus {
  background: darken(#fff, 3%);
}

.sql-toolbar span[role="button"] button {
  padding: 0.75rem 3.25rem 0.75rem 3.25rem;
  height: 36px;
  color: #989898;
  text-transform: uppercase;
  font-weight: 600;
  font-size: @font-size-small;
}

.sql-toolbar span[role="button"] button:hover,
.sql-toolbar span[role="button"] button:focus {
  background: darken(#fff, 3%);
}

.ResultSetControls .btn.btn-sm.btn-default {
  .btn-brand-secondary-tertiary();
  padding: 0.85rem 3.25rem 0.75rem 3.25rem;
  margin-right: 10px;

  i {
    display: none;
  }
}

.ResultSetControls .btn.btn-sm.btn-default:hover,
.ResultSetControls .btn.btn-sm.btn-default:focus {
  background: darken(#fff, 3%);
  color: @brand-tertiary;
}

.ResultSetControls .btn.btn-sm.btn-default:first-child {
  .btn-brand-primary-tertiary();
  padding: 0.85rem 3.25rem 0.75rem 3.25rem;
  margin-right: 10px;

  i {
    display: none;
  }
}

.ResultSetControls .btn.btn-sm.btn-default:first-child:hover,
.ResultSetControls .btn.btn-sm.btn-default:first-child:focus {
  background-color: @brand-tertiary-hover-color;
  color: #fff;
}

.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
  border-radius: 0.2rem;
}

.panel-body .form-actions-container button.dropdown-toggle {
  background-color: @brand-primary;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 0.75rem 3rem;
  font-weight: 600;
  font-size: @font-size-small;

  span:before {
    vertical-align: 1px;
    color: #fff;
    content: "\F0D7";
    font-size: @font-size-small;
  }
}

.panel-body .form-actions-container button.dropdown-toggle:hover,
.panel-body .form-actions-container button.dropdown-toggle:focus {
  color: #fff;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.SqlEditor .sql-toolbar span.inlineBlock.label {
  padding: 0.75rem 3.25rem 1rem 3.25rem;
  vertical-align: -1px;
}

#uncontrolled-tab-example li.active a,
#controlSections li.active a,
.SqlEditor .SouthPane li.active a {
  padding-left: 32px;
  padding-right: 32px;
}

.ReactVirtualized__Table__Grid .ReactVirtualized__Table__rowColumn button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 2px 16px;
  .btn-brand-secondary-tertiary();

  &:hover,
  &:focus {
    color: @brand-tertiary;
    background: darken(#fff, 3%);
  }
  i {
    color: @brand-tertiary;
  }
}

//= Charts

.superset-legacy-chart-sunburst svg g text.step-label {
  transform: translate(0, -10px);
}

//= Alerts, Success & Error Mesages

.SqlEditor .queryPane span.label.label-success {
  .label-brand-primary();
}

//= Layout Adjustments

.SqlEditor {
  .gutter {
    margin: 15px auto 7px !important;
  }

  .SouthPane {
    padding-bottom: 15px;

    .tab-content > .tab-pane {
      padding-top: 12px;
    }

    .filterable-table-container {
      height: auto !important;
      position: absolute;
      top: 76px;
      bottom: 0px;
      left: 0;
      right: 0;
      overflow: auto hidden;

      .ReactVirtualized__Table__Grid {
        height: auto !important;
        position: absolute !important;
        top: 32px;
        bottom: 0;
        left: 0;

        .ReactVirtualized__Table__headerColumn,
        .ReactVirtualized__Table__rowColumn,
        .ReactVirtualized__Table__row * {
          font-size: @font-size-small;
        }
      }
    }
  }
}
