/**
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
// Forked Cosmo 3.3.7


//== Colors
//
//## Gray and brand colors for use across Bootstrap.

@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%);
@gray-dark:              lighten(@gray-base, 20%);
@gray:                   lighten(@gray-base, 33.5%);
@gray-light:             lighten(@gray-base, 70%);
@gray-lighter:           lighten(@gray-base, 95%);

@brand-primary:         #00A699;
@brand-success:         #4AC15F;
@brand-info:            lighten(#2AB7CA, 15%);
@brand-warning:         #FED766;
@brand-danger:          #FE4A49;

//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
@body-bg:               #f5f5f5;
//** Global text color on `<body>`.
@text-color:            @gray-dark;

//** Global textual link color.
@link-color:            @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:      darken(@link-color, 15%);
//** Link hover decoration.
@link-hover-decoration: underline;

@brand-primary:         #00b491;
@brand-secondary:       #8719cb;
@brand-tertiary:       	#f89c30;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

@font-face {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
  src: url('../fonts/SourceCodePro-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Source Code Pro', 'Helvetica Neue', Arial, sans-serif;
  src: url('../fonts/SourceCodePro-Medium.ttf')  format('truetype');
}

@optimal-font-size:		  16px;
@font-size-large:         ceil((@optimal-font-size * 1.25));
@font-size-small:         ceil((@optimal-font-size * 0.85));

@font-size-h1:            floor((@optimal-font-size * 2.6));
@font-size-h2:            floor((@optimal-font-size * 2.15));
@font-size-h3:            ceil((@optimal-font-size * 1.7));
@font-size-h4:            ceil((@optimal-font-size * 1.25));
@font-size-h5:            @optimal-font-size;
@font-size-h6:            ceil((@optimal-font-size * 0.85));

body {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 400;
	font-size: @optimal-font-size;
	background: #f2e5f9;
}

body .queryPane .ace_layer.ace_text-layer {
	font-family: 'Source Code Pro', 'Helvetica Neue', Arial, sans-serif;
	font-size: @font-size-small;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
	font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
	position: relative;
}

h1 {
	font-size: @font-size-h1;
}

h2 {
	font-size: @font-size-h2;
}

.panel-body h2 {
	margin-left: 9px;
    padding-bottom: 9px;
    font-size: 26px;
    font-weight: 600;
}

.panel-body h2:after {
	content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: 0;
    left: 2px;
    border-bottom: 4px solid @brand-secondary;
}

h3 {
	font-size: @font-size-h3;
}

h4 {
	font-size: @font-size-h4; 
}

.panel-primary h4.panel-title {
	border: none;	
	font-size: 26px;
    font-weight: 600;
    padding-left: 9px;
    margin-top: 12px;	
}

.panel-primary h4.panel-title:after {
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: -4px;
    left: 10px;
    border-bottom: 4px solid @brand-secondary;
}

h5 {
	font-size: @font-size-h5;
}

h6 {
	font-size: @font-size-h6;
}

.dashboard-header .dashboard-component-header .editable-title input[type=button] {
	font-weight: 600;
}

a[aria-expanded=true] {
	    border-bottom: 5px solid @brand-primary;
	    color: #fff;
}

//== Navbar
//
//##

header[role=header] {	
	background-image: linear-gradient(90deg,#8719cb,#400d9a);
    border: none;
    padding-top: 12px;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text, .navbar-inverse .navbar-text {
	padding-bottom: 24px;
}

.navbar {
	min-height: 67px;
}

.navbar-header {
	padding: 0 12px;
}

header[role=header] div[role=navigation] {
	background: transparent;
	border: none;
}

.nav.navbar-nav.navbar-right .btn-primary,
.nav.navbar-nav.navbar-right .btn.btn-primary {
	margin-top: 12px !important;
	margin-right: 30px !important;
	padding: .5rem 3rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #fff !important;
    border-radius: .2rem;
    border: none;
    background: @brand-primary !important;

    i {
    	margin-right: 4px;
    	color: #fff;
    	vertical-align: -1px;
    }
}

.navbar-nav .caret, .panel-title .caret {
	margin-top: -26px;
}

//== Navs
//
//##

.navbar .navbar-collapse  .dropdown a:hover,
.navbar .navbar-collapse  li a:hover {
	border-bottom: 5px solid @brand-primary;
}

.caret, .caret:hover {
	color: #fff;	
}

li.dropdown.active a {
	color: #fff;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-text {
	color: #fff;
	font-size: @font-size-large;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-text:hover {
	color: #fff;
	font-size: @font-size-large;
}

.navbar-inverse .navbar-nav .dropdown-menu i:hover {
	color: #fff;
}

.nav.navbar-nav .fa {
	color: @brand-primary;
}

.nav.navbar-nav.navbar-right .btn-primary .fa {
	color: #fff;
}

.dropdown-menu li a:hover {
	border: none;
}

.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li.active > a {
  border-bottom: 5px solid @brand-primary;
 }

.nav.navbar-nav.navbar-right .btn-primary:hover,
.nav.navbar-nav.navbar-right .btn.btn-primary:hover {
  background-color: darken(@brand-tertiary, 5%);
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border-top: 5px solid @brand-secondary;
}

.navbar-inverse .navbar-nav>li.active>a, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
	border-bottom: 5px solid @brand-primary;
	color: #fff;
}

.navbar .navbar-collapse .dropdown a:hover, .navbar .navbar-collapse .dropdown li a:hover {
	border-bottom: 5px solid @brand-primary;
	color: #fff;
}

.navbar .navbar-collapse .dropdown .dropdown-menu a:hover, .navbar .navbar-collapse .dropdown li a:hover {
	border: none;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-text:hover {
	border-bottom: 5px solid @brand-primary;
}


//== Tabs
//
//##

li[role=presentation] a {
    font-size: @optimal-font-size;
    font-weight: 600;
    color: @brand-secondary;	
}

li.active[role=presentation] a {
	padding: 10px 32px;
    border-left: none;
    font-size: @optimal-font-size;
}

.navbar-nav > li > .dropdown-menu {
	margin-top: 7px;
}

//== Tables
//
//##

table thead, table tbody {
	font-size: @optimal-font-size;
}

tr.reactable-column-header th.reactable-header-sortable {
    font-size: @optimal-font-size;
    color: @gray-light;
}

tbody.reactable-data td a {
	font-size: @font-size-large;	
}

.dashboard-component-tabs .nav-tabs>li>a {
	color: @brand-secondary !important;
}
.dashboard-component-tabs .nav-tabs li.active>a:after {
	background: @brand-primary !important; 
}

//== Dropdowns
//
//## Dropdown menu container and contents.

.dropdown-menu {
	font-size: @optimal-font-size;
	margin: 2px 0 2px -1px;
	padding-top: 18px;
    padding-bottom: 14px;
}

.dropdown-menu li {
    padding-bottom: 8px;
}

.navbar-nav .dropdown-menu {
	margin-top: 4px;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-bottom: 6px solid #8719cb;
}

.dropdown-menu .divider {
	display: none;
}

.dropdown-menu>li>a:focus .nav.navbar-nav .fa, .dropdown-menu>li>a:hover .nav.navbar-nav .fa {
	color: #fff;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
	color: @brand-secondary;
	background-color: #fff;
}

//** Background for the dropdown menu.
@dropdown-bg:                    #fff;
//** Dropdown menu `border-color`.
@dropdown-border:                rgba(0,0,0,.15);
//** Dropdown menu `border-color` **for IE8**.
@dropdown-fallback-border:       #ccc;
//** Divider color for between dropdown items.
@dropdown-divider-bg:            #e5e5e5;

//** Dropdown link text color.
@dropdown-link-color:            @gray-dark;
//** Hover color for dropdown links.
@dropdown-link-hover-color:      #fff;
//** Hover background for dropdown links.
@dropdown-link-hover-bg:         @component-active-bg;

//** Active dropdown menu item text color.
@dropdown-link-active-color:     #fff;
//** Active dropdown menu item background color.
@dropdown-link-active-bg:        @component-active-bg;

//** Disabled dropdown menu item background color.
@dropdown-link-disabled-color:   @gray-light;

//** Text color for headers within dropdown menus.
@dropdown-header-color:          @gray-light;

//** Deprecated `@dropdown-caret-color` as of v3.1.0
@dropdown-caret-color:           #000;


//== Dasboards
//
//## Typography, elements, buttons, fields, tables, charts

.resizable-container[style] {
	height: 440px !important;
	min-height: 440px !important;
}

.dashboard-component-header {
	position: relative;
	padding: 26px 0;

	.fave-unfave-icon .fa-star, .fave-unfave-icon .fa-star-o, .fave-unfave-icon .fa-star-o:active, .fave-unfave-icon .fa-star-o:hover, .fave-unfave-icon .fa-star:active, .fave-unfave-icon .fa-star:hover {
	color: @brand-primary;
	}
}

.dashboard-header {
	padding-top: 24px;	
}

.dashboard-header .editable-title:after {
	content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: 9px;
    left: 1px;
    border-bottom: 4px solid @brand-secondary;
}

.chart-header .header .editable-title input[type=button] {
	font-size: 22px;
    font-weight: 100;
}

.chart-header span.editable-title {
	font-size: 26px;
    font-weight: 600;
}
.chart-header span.editable-title:after {
    content: "";
    position: absolute;
    width: 76px;
    height: 1px;
    bottom: -7px;
    left: 1px;
    border-bottom: 4px solid @brand-tertiary;
}

.chart-header .header {
	margin-bottom: 16px;
    margin-top: 10px;

    input {
  		font-weight: 100;
    	font-size: 22px;
    }
}

//== UI Elements
//
//## Typography, elements, buttons, fields, tables, charts

header.top {
	margin-bottom: 42px !important;
	height: 79px;	
}

.dashboard-header {
	padding-top: 22px;
	margin-top: -42px;
}

.resizable-container[style] {
	min-height: 440px;
}

.panel-body.list-container .btn-group.btn-group-xs a.btn.btn-sm.btn-default {
	background: @brand-tertiary;
    border: none;
    color: #fff;
    padding: 3px 6px;
    border-right: 1px solid #fff;
    margin-right: 1px;	
}

.form-actions-container .btn-group .btn.btn-default.btn-sm.dropdown-toggle {
	margin-top: 12px!important;
    margin-right: 30px!important;
    padding: .5rem 3rem;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    color: #fff!important;
    border: none;
    background: @brand-primary !important;	
}

.panel-body.list-container .list-add-action .btn.btn-sm.btn-primary {
	box-shadow: none;
    padding: 10px 12px;
    margin-right: 10px;

    .fa.fa-plus {
    	font-size: 20px;
    }
}

.list-search-container .dropdown-toggle {
	top: -35px !important;
    right: 46px !important;
}

.dropdown-toggle.btn .caret {
	margin-left: 11px;
    margin-top: -29px;
    margin-right: 0;
}

.nav.navbar-nav .caret {
	margin-top: -6px;
}

